/* @printCompiledCss = false */

.tabControlHeaderContainer .tabControlHeader {
	font-size: 2em;
	background-color: #fd8;
}
.tabControlHeaderContainer span {
	background: linear-gradient(#eb0, #fc4);
	padding: 0 .5em;
	margin: 0 1px;
	border: 2px solid #b80;
	border-radius: 10px 10px 0 0;
	border-bottom: none;
}

.tabControlHeaderContainer span.selected {
	background: linear-gradient(#4b4, #4f4) !important;
	border-color: #08f;
	border-width: 3px;
	border-bottom: none;
}


.tabControlHeaderContainer #TabPageAttachmentItem_Header,
.tabControlHeaderContainer #TabPageGeneralItem_Header,
.tabControlHeaderContainer #TabPageSolutionItem_Header, 
.tabControlHeaderContainer #TabPageActivitiesItem_Header {
	background: linear-gradient(#0df, #2ef);
	border-color: #67F;
	border-width: 3px;
	border-bottom: none;
	font-weight: bold;
	box-shadow: 0px -3px 4px blue;
}

.labelSubject {
  font-weight: bold;
}


.match-marker:before {
  position:relative;
  border: 1px solid blue;
  background-color: yellow;
  width: 30px;
  height: 30px;
  font-size: 20px;
  z-index: 888;
  content: "M0";
  display:table-cell;
}

/* Tasks  Escenic-Accounts loeschen */
.esc-delete-account {
  background: linear-gradient(#ffe0ef, #fde 20%, #fde 70%, #e8a) !important;
  color: black;
}
.esc-create-account {
  background: linear-gradient(#ffc, #ff8 20%, #ff8 70%, #dd7) !important;
  color: black;
}
/* vg-wort tickets */
.vg-wort {
  background: linear-gradient(#cfc, #8f8 20%, #8f8 70%, #7d7) !important;
  color: black;
}

div > div.assigned-to-me {
  background: linear-gradient(#fcf, #f8f 20%, #f8f 70%, #d7d) !important;
  color: black;
}

.esc-create-account MAT-CELL,
.esc-delete-account MAT-CELL {
  color:black !important;
  font-weight: bold !important;
}


/* Tabs */

div.mat-tab-label-content,
div#SubmenuProcess li {
  background: linear-gradient(#fd9, #ec8 20%, #ec8 80%, #ca7) !important;
  padding: 0 2em !important;
  border-radius: 10px 10px 0 0;
  border: 3px solid #a73 !important;
  color: black !important;
}
div.mat-tab-label-content {
  margin: 7px 2px 0 2px !important;
}

.mat-tab-label-active div.mat-tab-label-content,
div#SubmenuProcess li.active {
  background: linear-gradient(#4e4, #3d3 20%, #3d3 80%, #2b2) !important;
  ---background: linear-gradient(#fe4, #ed3 20%, #ed3 80%, #cb2) !important;
} 
div#SubmenuProcess li a {
  color: black !important;
}
div#SubmenuProcess li.active a {
  background-color: transparent !important;
}

/* Task Dialog */
input#vm\.Sys\.Subject {
  font-size: 2em !important;
  height: 2em !important;
}

div.ng-scope input,
div.ng-scope textarea,
div.ng-scope select {
  border: 2px solid #6af;
  border-radius: 2px;
  background-color: #f8f8ff !important;
}
div.ng-scope input[disabled],
div.ng-scope textarea[disabled],
div.ng-scope select[disabled] {
  border: 2px solid #6af;
}

div.activitylog > div.activitylog-row {
  background-color: #fff8b0;
  box-shadow: 2px 2px 8px #ca6;
  border: 1px solid #ca6;
  padding: .5em 1em;
  color: black !important;
  
}


#upCheckBoxPUBLISHED span.helpLineCheckBox {
  background-color: cyan;
  padding: .4em 1em;
  border-radius: 5px;
  border: 2px solid #0aa;
}
#upCheckBoxPUBLISHED span.helpLineCheckBox:has(input:checked) {
  background-color: #afa;
}


span#RadioButtonSendByEmail {
  background-color: cyan !important;
  padding: .3em .5em .6em;
  border-radius: 5px;
  border: 2px solid #0aa;
}
span#RadioButtonSendByEmail:has(input#RadioButtonSendByEmail_1:checked) {
  background-color: #afa !important;
}

div.dropDownContainer:has(input#ComboBoxINTERNALSTATEtb),
div.dropDownContainer input#ComboBoxINTERNALSTATEtb {
  background-color: cyan;
}
div.dropDownContainer:has(input#ComboBoxINTERNALSTATEtb[value="Solved"]),
div.dropDownContainer input#ComboBoxINTERNALSTATEtb[value="Solved"] {
  background-color: #8f8;
}

.grouped-line {
  background-color: #bbd;
  background-image: linear-gradient(#888, #fff, transparent 20%, transparent 80%, #888);
  font-weight: bold !important;
  ---line-height: 150%;
  height: 30px;
  color: black;
}
.grouped-line.support {
  background-color: #fc6;
    font-size: 110%;
}


#tbSimpleObjectSearchContact,
#tbSimpleObjectSearchOpenedBy {
  @input-highlight;
}

div#contenttableHLGrid div.jqx-grid-group-cell:nth-child(10) {
  width:400px !important;
}
div#contenttableHLGrid div.jqx-grid-group-cell:nth-child(10) div.jqx-grid-cell-left-align {
  font-size: 1.2em;
  font-weight: bold;
}

textarea#vm\.Sys\.Result {
  @input-highlight;
}

#appbar-search-button > button:first-child {
  background-color: yellow;
  color: black;
}

div#custom-assign-buttons div {
	position:absolute;
	top: 200px;
	width:100%;
	display: flex;
}
div#custom-assign-buttons div button {
	paddding: 1em;
	margin: 2px;
	height: 3em;
	width: 100%;
}
div#custom-assign-buttons div button:before {
  content: "➜";
  margin-right: .5em;
  
}


#contenttableHLGrid > div:hover {
  background-color: yellow;
}


#HBo_sendMailButton {
  border: 1px solid blue;
  border-radius: 3px;
  padding: .2em 1em;
  margin: .5em .1em 0 1em;
}

.no-local-login-identity-provider-container>div.ok-button button {
  @.ok-button;
}


div#groupsheaderHLGrid div {
  border: 2px solid green !important;
  border-radius: 5px;
  background-color: #afa;
}



#DateTimeControlREGISTRATIONTIMEcalendarTB,
#tbTextBoxBezugsnummermitTag {
  font-weight: bold;
  outline: 4px solid #a0a;
  outline-offset: 2px;
}