/* @printCompiledCss = true */

:root {
  --menu-border-color: #00c;
  --menu-background-color: hsl(45 100% 80%);
  --parent-menu-background-color: hsl(45 100% 90%);
  --parent-menu-border-color: #44c;
  --parent-menu-color: #aaa;
}

div.app-header-bar,
div[data-tid="app-layout-area--title-bar"] div[data-tid="title-bar"] {
  background-color: #903391;
}

div.ui-box.ir.no {
  @input-highlight;
}
.ui-toolbar {
  border-top: 3px solid #fc0;
}

.fui-ChatMessage__body {
  border-top: 3px solid #fc0;
}

div[role="dialog"] .ui-popup__content__content {
  outline: 5px solid #fc0;
  box-shadow: 5px 5px 10px blue;
}


div.recipient-group-list-item .ts-unread-channel {
  background-image: var(--row-overlay);
  _background-color: var(--ok-button);
  background-color: #fc7;
}

div.recipient-group-list-item.left-rail-selected {
  background-image: var(--row-overlay);
  _background-color: var(--ok-button);
  background-color: #baf;
}



button[id="Scheduling assistant"] {
  background: var(--row-soft-overlay);
  background-color: #fdb;
}
button[id="Scheduling assistant"]:hover {
  background: var(--row-soft-overlay);
  background-color: #fc9;
}


div[class*="attendee-availability_statusTentative"] {
  background-color: cyan;
  outline: 4px dotted blue;
}
div[class*="attendee-availability_statusBusy"] {
  background-color: darkcyan;
  outline: 4px solid blue;
}


div[data-tid="app-layout-area--main"] {
  zoom: 2;
}





div.fui-FluentProvider div.fui-MenuPopover {
  box-shadow: 0 0 10px 5px var(--menu-border-color);
  background-color: var(--menu-background-color);
}
div.fui-FluentProvider div.fui-MenuPopover .fui-MenuItem {
  background-color: var(--menu-background-color);
}

div.fui-FluentProvider:has(~ div.fui-FluentProvider div.fui-MenuPopover) div.fui-MenuPopover {
  box-shadow: 0 0 6px 3px var(--parent-menu-border-color);
  background-color: var(--parent-menu-background-color);
}
div.fui-FluentProvider:has(~ div.fui-FluentProvider div.fui-MenuPopover) div.fui-MenuPopover .fui-MenuItem {
  background-color: var(--parent-menu-background-color);
  color: var(--parent-menu-color);
  
}

.fui-Divider {
  background-image: linear-gradient(transparent, #44d 30%, #44d 70%, transparent);
  color: white !important;
  font-weight: 1000;
  padding: .2em 0;
}

.ui-alert {
  background-color: #ef9 !important;
  @row;
}