.tabControlHeaderContainer .tabControlHeader {
	font-size: 2em;
	background-color: #fd8;
}
.tabControlHeaderContainer span {
	background: linear-gradient(#eb0, #fc4);
	padding: 0 .5em;
	margin: 0 1px;
	border: 2px solid #b80;
	border-radius: 10px 10px 0 0;
	border-bottom: none;
}

.tabControlHeaderContainer span.selected {
	background: linear-gradient(#4b4, #4f4) !important;
	border-color: #08f;
	border-width: 3px;
	border-bottom: none;
}

.tabControlHeaderContainer #TabPageSolutionItem_Header, 
.tabControlHeaderContainer #TabPageActivitiesItem_Header {
	background: linear-gradient(#fd0, #fe2);
	border-color: #67f;
	border-width: 3px;
	border-bottom: none;
	font-weight: bold;
	box-shadow: 0px -3px 4px blue;
}

.labelSubject {
  font-weight: bold;
}