/* @printCompiledCss = false */


ul.context-menu--list {
  background-color: #333 !important;
  color: #fff !important;
  font-weight: 500;
}
li.context-menu--list-item:hover {
  background-color: #338 !important;
}


cue-metadata-panel-loader > * {
  outline: 4px solid #008;
  outline-ofset 2px;
}

cue-metadata-panel-loader > * div.header-container {
  background-color: #aac;
}
cue-metadata-panel-loader * div.header-container .header-text {
  color: #004 !important;
  padding-left: 1em;
}
cue-metadata-panel-loader .general-info * div.header-container .header-text,
cue-metadata-panel-loader cue-sections-metadata-panel * div.header-container .header-text {
  color: #fff !important;
}

cue-metadata-panel-loader .general-info * div.header-container {
  background-color: #800;
}
div[data-testid="modified"] > div, 
div[data-testid="created"] > div { 
  color: black !important; 
  font-weight: bold; 
}
div[data-testid="modified"] div[data-test-value="modified-value"] {
  color: #00a !important;
}
div[data-testid="created"] div[data-test-value="created-value"] {
  color: #0a0 !important;
}

cue-metadata-panel-loader .activation * div.header-container {
  background-color: #4f4;
}
cue-form-datetime#publish-date.future input,
cue-form-datetime#unpublish-date.past input {
  border-bottom: 4px solid red !important;
}
cue-form-datetime#unpublish-date.future input,
cue-form-datetime#publish-date.past input {
  border-bottom: 4px solid #0f0 !important;
}

cue-metadata-panel-loader cue-tags-metadata-panel * div.header-container {
  background-color: #ec6;
}
cue-metadata-panel-loader cue-author-panel * div.header-container {
  background-color: #4e6;
}
cue-metadata-panel-loader cue-sections-metadata-panel * div.header-container {
  background-color: #000;
}

cue-metadata-panel-loader .general-info * div.row[title^="ID: "],
cue-metadata-panel-loader .general-info * div.row[data-testid="type"] {
  height: 2em;
  line-height: 2em;
}
cue-metadata-panel-loader .general-info * div.row[data-testid="type"] .right {
  font-size: 1.6em;
  color: blue !important;
}
cue-metadata-panel-loader .general-info * div.row[title^="ID: "] .right {
  font-size: 1.6em;
  font-weight: bold;
  padding: 2px 0;
}

input#new-content-search-field_input,
cue-form-select#organizational-units {
  outline: 5px solid #fc8;
  outline-offset: 3px;
  border-radius: 5px;
}

cue-form-select#organizational-units ul.options {
  max-height: 300px;
}

cue-form-select#organizational-units ul.options li.indent {
  padding-left: 3em;
}
cue-form-select#organizational-units ul.options li.bm { background-color: #3c3 }
cue-form-select#organizational-units ul.options li.ha { background-color: #3c3; }
cue-form-select#organizational-units ul.options li.ni { background-color: #dd4; }
cue-form-select#organizational-units ul.options li.ni.indent { background-color: #ff8; }
cue-form-select#organizational-units ul.options li.nrw { background-color: #e84; }
cue-form-select#organizational-units ul.options li.nrw.indent { background-color: #fa7; }
cue-form-select#organizational-units ul.options li.th { background-color: #3c3; }
cue-form-select#organizational-units ul.options li.th.indent { background-color: #6e6; }
cue-form-select#organizational-units ul.options li.zr { background-color: #faa; }
cue-form-select#organizational-units ul.options li.sys { background-color: #ccc; }
cue-form-select#organizational-units ul.options li.ab { background-color: #88d; }
cue-form-select#organizational-units ul.options li.ab.indent { background-color: #ccf; }



.editor-workspace-tabs div.subtabs ul[role="tablist"] {
  border-bottom: 1px solid black;
  background-color: #ecc;
  padding-top: .3em;
  padding-left: 2em;
  vertical-align: bottom;
}
.editor-workspace-tabs div.subtabs ul[role="tablist"] li {
  border: 2px solid #600;
  border-bottom: none;
  height: 100%;
  line-height: 200%;
  margin: 0 .2em !important;
  padding: 0 1em;
  color: black;
}

.editor-workspace-tabs div.subtabs ul[role="tablist"] li.active {
  background-color: #f66;
  _border-bottom: 2px solid #f66;
  font-weight: bold;
}

cue-list-item-versions div.version-item span {
  color: black;
}
cue-list-item-versions div.version-item:has(span[data-testid="author"][title="Hartmut Boekhoff"]) {
  background-color: #f8f;
  font-weight: bold;
  color: black !important;
}
cue-list-item-versions div.version-item.selected:has(span[data-testid="author"][title="Hartmut Boekhoff"]) {
  background-color: #d5d;
}

cue-list-item-versions:first-child div.version-item:has(cue-state div.submitted-published),
cue-list-item-versions:first-child div.version-item.selected:has(cue-state div.submitted-published),
cue-list-item-versions:first-child div.version-item:has(cue-state div.draft-published),
cue-list-item-versions:first-child div.version-item.selected:has(cue-state div.draft-published) {
  background-color: red;
  animation: pulsar 1.5s step-end infinite;
}


cue-relation-story-element-editor {
  outline: 3px solid blue;
  box-shadow: 4px 4px 4px blue;
}

input#published[type="button"][data-testid="online-media-editor-publish-button"] {
  background-color: green;
  color: white;
  animation: pulsar 1.5s step-end infinite;
  z-index: 999;
}
cue-field[data-test-value="com.escenic.uniqueName"] textarea {
  background-color: rgba(255, 221, 0, .2);
  _outline: 3px solid #fd0;
  _outline-offset: 4px;
  box-shadow: 1px 1px 5px 5px #ec0;
}

[contenteditable="true"] {
    outline: 3px solid blue !important;
}
[contenteditable="true"]:focus,
input:focus,
textarea:focus {
    background-color: #ffa !improtant;
    color: black !important;
    outline: 4px solid purple !important;
}
[data-testid="insert-menu"] {
    background-color: green !important;
    color: white !important;
}

CUE-FORM-PROPERTY-ARRAY#section-parameters DIV.value:has(:focus) {
  background-color: yellow;
}

cue-search-filter-date label,
.pill-container label {
    color: black !important;
    background-color: #eee;
    font-weight: bold !important;
}

@keyframes pulsar {
  50% {
    transform: scale(120%);
    filter: brightness(1.5) saturate(.9);
  }
}

@keyframes blinker {
  50% {
    background-color: yellow;
  }
}



