/* @printCompiledCss = false */


cue-metadata-panel-loader > * {
  outline: 4px solid #008;
  outline-ofset 2px;
}

cue-metadata-panel-loader > * div.header-container {
  background-color: #aac;
}
cue-metadata-panel-loader * div.header-container .header-text {
  color: #004 !important;
  padding-left: 1em;
}
cue-metadata-panel-loader .general-info * div.header-container .header-text,
cue-metadata-panel-loader cue-sections-metadata-panel * div.header-container .header-text {
  color: #fff !important;
}

cue-metadata-panel-loader .general-info * div.header-container {
  background-color: #800;
}

cue-metadata-panel-loader .activation * div.header-container {
  background-color: #daa;
}
cue-metadata-panel-loader cue-tags-metadata-panel * div.header-container {
  background-color: #ce8;
}
cue-metadata-panel-loader cue-author-panel * div.header-container {
  background-color: #4e6;
}
cue-metadata-panel-loader cue-sections-metadata-panel * div.header-container {
  background-color: #000;
}

cue-metadata-panel-loader .general-info * div.row[title^="ID: "] .right {
  font-size: 1.6em;
  font-weight: bold;
  padding: 2px 0;
}

cue-form-select#organizational-units {
  outline: 5px solid #fc8;
  outline-offset: 3px;
  border-radius: 5px;
}

cue-form-select#organizational-units ul.options li.indent {
  padding-left: 3em;
}
cue-form-select#organizational-units ul.options li.bm { background-color: #3c3 }
cue-form-select#organizational-units ul.options li.ha { background-color: #3c3; }
cue-form-select#organizational-units ul.options li.ni { background-color: #dd4; }
cue-form-select#organizational-units ul.options li.ni.indent { background-color: #ff8; }
cue-form-select#organizational-units ul.options li.nrw { background-color: #e84; }
cue-form-select#organizational-units ul.options li.nrw.indent { background-color: #fa7; }
cue-form-select#organizational-units ul.options li.th { background-color: #3c3; }
cue-form-select#organizational-units ul.options li.th.indent { background-color: #6e6; }
cue-form-select#organizational-units ul.options li.zr { background-color: #faa; }
cue-form-select#organizational-units ul.options li.sys { background-color: #ccc; }
