/* @printCompiledCss = false */


select[name="version"] {
  outline: 3px solid cyan;
}
select#pubFilter {
  outline: 3px solid #dc0;
}
input#searchCriteria, 
select#type {
  outline: 3px solid blue;
}
input#searchRelativUrl,
select#urlType {
  outline: 3px solid green;
}
div:has(>div>div>#importArticleButton) {
  outline: 4px solid #008;
}

.format-error,
.format-error:focus {
  color: red;
  font-weight: 1000 !important;
  word-spacing: 10px;
}
thead {
  background-color: #ec9;
}


ul.nav-tabs li {
  background-color: #aad;
  margin: 0 5px;
  border: 2px solid #44a;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  color: black;
}
ul.nav-tabs li:has(>a.active) a.active {
  border-color: #4aa;
  background-color: cyan;
  font-size: 110%;
  font-weight: bold;
}

.card {
  background-color: #cce;
  outline: 4px solid aae;
}
.card h5 {
  font-size: 2em;
  font-weight: bold;
}
.card p.card-text,
.card p.card-text small {
  font-weight: 1000;
  color: black;
  font-size: 1.3em;
}
