/* @printCompiledCss = false */


div.rst-content div[role="main"] div.section > p {
  border-top: 5px solid blue;
  border-bottom: 2px solid #888;
  margin-top: 2em;
  font-weight: bold;
}
div.rst-content div[role="main"] div.section > p:empty,
div.rst-content div[role="main"] div.section > p:has(+div:empty) {
  border: none;
}