/* @printCompiledCss = false */

body:has(#GM_DownloadButton) {
  opacity:.2;
}
body:has(#GM_DownloadButton):hover {
  opacity:1;
}
body:has(#GM_DownloadButton):hover img {
  outline: 15px solid #6f6;
  box-sizing: border-box;
  outline-offset: -20px;
}

body.attention-wrong-isp {
  border: 20px solid red;
  padding: 20px;
  background-color: #fa0 !important;
}
attention-wrong-isp div {
  background-color: #fa0 !important;
}