/* @printCompiledCss = false */



button.Button--secondary {
  @.neutral2-button;
}

#pull-requests-tab {
  @.neutral-button;
}
#actions-tab {
  @.neutral2-button;
}

div:has(>a.author):has(span.commit-ref~span.commit-ref) {
  font-size: 2em;
  background-image: var(--row-overlay);
  background-color: #bf7;
  padding: 5px .5em;
}

div.file-header {
  background-color: #66d;
}
div.file-header * {
  color: white !important; 
}
div.file-header .Link--primary {
  color: white !important; 
  font-size: 150%;
  font-weight: bold;
}

form[action$="/cleanup"] > div > div > button  {
  @danger-button;
}
form[action$="/undo_cleanup"] > button.pull-request-ref-restore-text {
  @neutral2-button;
}
