body {
  --block-separator-bottom: linear-gradient(0deg, rgba(120,120,120, .5), transparent 30px);

  --block-separator: linear-gradient(rgba(120,120,120, .5), 
                                     rgba(255,255,255, .5), 
                                     transparent 20px, 
                                     transparent calc(100% - 20px), 
                                     rgba(120,120,120, .5));
}

tr#cellbulk\.delete\.operation\.name {
  background-color: #fba;
}

button#issue-comment-add-submit,
input#next,
input#confirm,
input#comment-edit-submit,
input#acknowledge_submit {
  @.ok-button;
  padding: .5em 1em;
  height: 200%
}
button#issue-comment-add-submit[disabled] {
  @.disabled-button;
}

button[type=cancel],
a#issue-comment-add-cancel,
a#comment-edit-cancel {
  @.cancel-button;
  padding: .5em 1em;
  height: 200%
}

input#summary,
.field-group.comment-input .jira-wikifield,
textarea#advanced-search {
  outline: 4px solid #fa0;
  outline-offset: 2px;
  min-height: 40px;
  font-size: 1.5em;
  line-height: 1.5em;
}


button#AJS_DROPDOWN__71 {
  @.neutral2-button;
}


header a.aui-button,
header a.aui-button:link,
header a.aui-button:visited {
  background-image: var(--button-overlay);
}
#edit-issue {
  @.attention-button;
}
#comment-issue {
  @.neutral-button;
}

#footer-comment-button {
  @.neutral-button;
  color: white;
  font-weight: bold;
  padding: .5em 1em;
  line-height: 2em;
  height: 3em;
}
#footer-comment-button span,
#addcomment.sticky #footer-comment-button span {
  color: white;
  font-size: 1.2em;
  _text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  text-shadow: 0px 0px 3px darkblue;
}
#description-form div.show-button-bar button.aui-button-primary[type=submit],
#issue-create-submit {
  @.ok-button;
}

#issue_actions_container .issue-data-block {
  border: 3px solid blue;
  margin-bottom: 1em;
  background-color: #f8f8ff;
  border-radius: 5px;
}
#issue_actions_container .issue-data-block .action-head {
  background-color: #cce;
}

.action-body a.user-hover[rel=hboekhoff] {
  font-weight: bold;
  background-color: #ff3;
  border-bottom: 2px solid blue;
  border-left: 1em solid blue;
  padding: 0 .5em;
}


#description-val {
  outline: 3px solid #fb0;
  outline-offset: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
}

h2#summary-val {
  font-weight: bold;
  font-size: 2em;
}

#datesmodule {
  border: 2px solid black;
  box-shadow: 2px 2px 4px #666;
  padding-bottom: 1em;
  padding-left: .5em;
}
#datesmodule dl {
  display: flex;
}

button.collapsed-actions {
  background-color: #ec9;
  border-radius: 5px;
  border: 2px solid #a85;
  padding: 1em;
}

#ghx-column-headers {
  margin-top: .6em;
}
#ghx-column-headers > li.ghx-column {
  border: 5px solid #da0;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  padding: 0 2em;
}
#ghx-column-headers > li.ghx-column h6 {
  font-weight: bold;
  font-size: 2em;
}

.ghx-swimlane-header {
  background-color: rgba(255,200,0,.3);
  background-image: linear-gradient(rgba(60,60,60,.5), rgba(255,255,255,.3), transparent 20%, transparent 50%, rgba(60,60,60,.3));
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}
.ghx-swimlane-header span.ghx-description:before {
  content: "(";
  padding-left: 4em;
}
.ghx-swimlane-header span.ghx-description:after {
  content: " Tickets)";
}

div.jira-wikifield[field-id="customfield_14307"],
_textarea#customfield_14307 {
  outline: 4px dashed #666;
  outline-offset: 3px;
  border-radius: 5px;
}


tr.issuerow {
  --highlight-color: transparent;
  --highlight-color2: transparent;
  background-image: linear-gradient(var(--highlight-color), var(--highlight-color2) 70%);
}
/*
tr.issuerow:has(td>span[data-tooltip*=">In Arbeit<"])   { background-color: #8ff !important; }
tr.issuerow:has(td>span[data-tooltip*=">In Approval<"]) { background-color: #afa !important; }
tr.issuerow:has(td>span[data-tooltip*=">Code Review<"]) { background-color: #afa !important; }
tr.issuerow:has(td>span[data-tooltip*=">Fertig<"]) *      { font-weight: bold; color: #0a0 !important; }
tr.issuerow:has(td>span[data-tooltip*=">New<"])         { background-color: #fd6 !important; }
tr.issuerow:has(td>span[data-tooltip*=">Ready for Development<"])         { background-color: #4ff !important; }
*/
tr.issuerow:has(td>span[data-tooltip*=">In Arbeit<"])   { --highlight-color: #4ff; }
tr.issuerow:has(td>span[data-tooltip*=">In Approval<"]) { --highlight-color: #8f8; }
tr.issuerow:has(td>span[data-tooltip*=">Code Review<"]) { --highlight-color: #8f8; }
tr.issuerow:has(td>span[data-tooltip*=">New<"])         { --highlight-color: #fd2; }
tr.issuerow:has(td>span[data-tooltip*=">Ready for Development<"])  { --highlight-color: #0ff; }
tr.issuerow:has(td>span[data-tooltip*=">Fertig<"])      { --highlight-color2: #bbb; --highlight-color: #ddd; }

tr.issuerow td.assignee:has(a#assignee_hboekhoff) {
  background-image: radial-gradient(ellipse at left top, transparent 70%, #f0f);
}
tr.issuerow td.assignee:has(em) {
  background-image: radial-gradient(ellipse at left top, transparent 70%, #a00);
}


div.ghx-limits, div.ghx-qty {
  display: none !important;
}