/* @printCompiledCss = falsse */

#ul_0000000012 div:has(a#a_20000000012) {
  background-color: yellow !important;
}


div.lsPageHeader--item table.urTBar div.lsTbarOvfl > span.lsToolbarButton.lsTbarItmStandalone.lsToolbar--item:first-child > div.lsButton {
  @.ok-button;
  height: 40px !important;
  width: 150px;
  lint-height: 40px;
  font-size: 1.5em;
}
