/* @printCompiledCss = falsse */

#ul_0000000012 div:has(a#a_20000000012) {
  background-color: yellow !important;
}

#WD19 span {
  @.ok-button;
  background-color: yellow !important;
}
div.lsButton {
  background-color: green !important;
}