div#stats-overlay {
  background-color: white;
  width: 90vw;
  height: 90vh;
  overflow: scroll;
  z-index: 10000000;
  position:absolute;
  top: 0px;
  left: 0px;
  margin: 5vh 5vw;
  box-shadow: 5px 5px 100px 20px #448;
  font-size: 1.5em;
}

div#stats-overlay table {
  width:100%;
}

div#stats-overlay table tr.hidden {
  color: #a66;
  font-style: italic;
}
div#stats-overlay #show-hidden:checked ~ table tr.hidden {
  display:table-row !important;
  visibility: visible;
}
div#stats-overlay table tr:nth-child(2n + 3) {
  background-color: #ddd;
}

div#stats-overlay table tr:nth-child(2) {
  background-color: cyan;
  font-size: 1:8em;
  font-weight: bold;
}
div#stats-overlay table tr:hover,
div#stats-overlay table tr.highlight:hover {
  background-color: #aae;
  
}

div#stats-overlay table td {
  padding: .2em 1em;
}
div#stats-overlay table td:nth-child(n+3) {
  text-align: right;
  padding-right: 2em;
  background: linear-gradient( 90deg, #66a, #66d calc(var(--val) / var(--max) * 90%), transparent calc(var(--val) / var(--max) * 90%) );
}
div#stats-overlay table td:last-child {
  background: linear-gradient( 90deg, #a66, #d66 calc(var(--val) / var(--max) * 90%), transparent calc(var(--val) / var(--max) * 90%) );
}

div#stats-overlay table caption {
  padding: .5em;
  font-size: 1.5em;
  background-color: #8d8;
}
div#stats-overlay table th {
  font-weight: bold;
  background-color: #aaa;
  text-align: center;
  line-height: 1.5em;
}

div#stats-overlay table tr.highlight {
  background-color: yellow;
}


#show-hidden {
  position:absolute;
  top: .9em;
  left: .9em;
  scale: 3;
	z-index: 1;
}
#show-hidden + #show-hidden-label {
  position:absolute;
  background-color: #bbb;
  border: 4px solid #ddd;
  padding: .4em .4em .4em 2.2em;
}
#show-hidden:checked + #show-hidden-label {
  background-color: #4b4;
  border-color: #8d8;
}

body.debug-compact #pageInfosContainer .show-type,
body.debug-compact .debug-component .show-type {
  cursor: pointer;
}

body.debug-compact #pageInfosContainer:not(.show-anyway)>:nth-child(n+2),
body.debug-compact .debug-component-variant-visible:not(.show-anyway)>:nth-child(n+3),
body.debug-compact .debug-component-variant-hidden:not(.show-anyway)>:nth-child(n+2) {
  display:none !important;
}


#pageInfosContainer {
  border-color: #77d !important;
}
#pageInfosContainer>.show-type {
  background-color: #77d !important;
}

/* embed-boxen */
[data-module-id="EmbedBoxModule"] {
  background-image: linear-gradient(45deg, pink , red, orange, yellow, green, cyan, blue, purple, pink);
  background-color: rgba(255,255,255,60%);
  background-blend-mode: color;
}

body {
  counter-rerset: component-counter;
}

div.debug-component {
  counter-increment: component-counter;
}
div.debug-component div.show-type::before {
	content: counter(component-counter);
	display: inline-block;
	background-color: yellow;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: black;
	text-align: center;
	margin-right: 1em;
}
