div#stats-overlay {
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 10000000;
  position:absolute;
  top: 0px;
  left: 0px;
  
}

div#stats-overlay table {
  width:100%;
}

div#stats-overlay table tr:nth-child(2) {
  background-color: cyan;
}
div#stats-overlay table th {
  font-weight: bold;
  background-color: #ccc;
}
