/* @printCompiledCss = false */

body {
  --button-overlay: linear-gradient(rgba(68,68,68,.3), rgba(255,255,255,.5), transparent 20%, transparent 80%, rgba(68,68,68,.3)), 
                    linear-gradient(90deg, rgba(68,68,68,.3), rgba(255,255,255,.5), transparent 10%, transparent 90%, rgba(68,68,68,.3));
  --button-soft-overlay: linear-gradient(rgba(80,80,80,.2), rgba(255,255,255,.3), transparent 30%, transparent 70%, rgba(80,80,80,.2)), 
                         linear-gradient(90deg, rgba(80,80,80,.2), rgba(255,255,255,.3), transparent 20%, transparent 80%, rgba(80,80,80,.2));


  --row-overlay: linear-gradient(rgba(68,68,68,.3), rgba(255,255,255,.5), transparent 20%, transparent 80%, rgba(68,68,68,.3));
  --row-soft-overlay: linear-gradient(rgba(80,80,80,.2), rgba(255,255,255,.3), transparent 30%, transparent 70%, rgba(80,80,80,.2));

  --ok-button: #4e4;
  --ok-border: #4a4;
  --cancel-button: #bbb;
  --cancel-border: #666;
  --neutral-button: #88e;
  --neutral-border: #44a;
  --neutral2-button: #4ee;
  --neutral2-border: #4aa;
  --attention-button: #fc0;
  --attention-border: #a94;
  --danger-button: #f54;
  --danger-border: #a44;

  --disabled-button: #ddd;
  --disabled-border: #888;
}

.ok-button, ok-button {
  background-image: var(--button-overlay);
  background-color: var(--ok-button);
  border: 2px solid var(--ok-border);
}
.cancel-button, cancel-button {
  background-image: var(--button-overlay);
  background-color: var(--cancel-button);
  border: 2px solid var(--cancel-border);
}
.neutral-button, neutral-button {
  background-image: var(--button-overlay);
  background-color: var(--neutral-button);
  border: 2px solid var(--neutral-border);
}
.neutral2-button, neutral2-button {
  background-image: var(--button-overlay);
  background-color: var(--neutral2-button);
  border: 2px solid var(--neutral2-border);
}
.warning-button, warning-button,
.attention-button, attention-button {
  background-image: var(--button-overlay);
  background-color: var(--attention-button);
  border: 2px solid var(--attention-border);
}
.danger-button, danger-button {
  background-image: var(--button-overlay);
  background-color: var(--danger-button);
  border: 2px solid var(--danger-border);
}
.disabled-button, disabled-button {
  background-image: var(--button-soft-overlay);
  background-color: var(--disabled-button);
  border: 2px solid var(--disabled-border);
}


input-highlight {
  outline: 2px solid #fc0;
  outline-offset: 2px;
  box-shadow: 1px 1px 3px 3px #fc0;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hbo-icon {
  font-weight: 900;
  font-size: 120%;
  display:inline-block;
  padding: .1em;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}
hbo-icon-alert {
  @hbo-icon;
  content: "⚠";
  background-color: yellow;
  color: #d00;
  border-color: red;
}
hbo-icon-info {
  @hbo-icon;
  content: "i";
  background-color: #89d;
  color: white;
  border-color: white;
}


row {
  background-image: var(--row-overlay);
}
soft-row {
  background-image: var(--row-soft-overlay);
}


.super-zoom {
  transform: scale(500%);
  outline: 5px solid red;
  outline-offset: 5px;
}

/* ***********************************************
 * Highlight Input Felder
 ************************************************ */
input.GM-input-field,
textarea.GM-input-field,
select.GM-input-field {
  outline: 3px solid blue !important;
  outline-offset: 3px;
}
button.GM-input-field {
  outline: 3px solid magenta !important;
  outline-offset: 3px;
}


/* ***********************************************
 * Highlight-Dialog  
 ************************************************ */
dialog#tampermonkey-highlight-dialog {
  --dialog-padding: 16px;
  overflow: hidden;
  padding: var(--dialog-padding);
  border: 4px solid black;
  outline: 4px solid white;
  box-shadow: 5px 5px 10px black;
  background-color: white;
}
dialog#tampermonkey-highlight-dialog * {
  background-color: white;
  color: black;
}

dialog#tampermonkey-highlight-dialog::backdrop {
  background-color: rgba(255, 255, 255, .8);
}
dialog#tampermonkey-highlight-dialog form {
  position: relative;
}
dialog#tampermonkey-highlight-dialog h1 {
	font-size: 2em;
	background-color: #dde;
	margin: 0 0 .5em 0;
	padding: var(--dialog-padding);
	width: calc(100% + var(--dialog-padding) * 2);
	left: calc(0px - var(--dialog-padding));
	top: calc(0px - var(--dialog-padding));
	position: relative;
}

dialog#tampermonkey-highlight-dialog label {
  min-width: 6em;
  display: inline-block;
}
dialog#tampermonkey-highlight-dialog div.buttons {
  width: 100%;
  margin-top: 2em;
  text-align: right;
}
dialog#tampermonkey-highlight-dialog input,
dialog#tampermonkey-highlight-dialog select {
  border: 1px solid #004;
  margin: 4px;
  padding: 4px;
}
dialog#tampermonkey-highlight-dialog input.color {
  width: 5em;
}
dialog#tampermonkey-highlight-dialog input#selector {
  width: 100%;
}
dialog#tampermonkey-highlight-dialog div.buttons button {
  width: 5em;
  margin-left: 1em;
}
dialog#tampermonkey-highlight-dialog div.buttons .ok-button {
  @ok-button;
}
dialog#tampermonkey-highlight-dialog div.buttons .cancel-button {
  @cancel-button;
}

/* 💥🛑⛔❌⭕🚫❗❕‼❔❓⁉⚠♻✔🗨💬 */


